body {
  margin: 0;
  font-family: 'Nanum Barun Gothic';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Nanum Barun Gothic',
    monospace;
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 300;
  src: url("./lib/fonts/NanumBarunGothicLight.woff2") format('woff2'),
  url("./lib/fonts/NanumBarunGothicLight.woff") format('woff'),
  url("./lib/fonts/NanumBarunGothicLight.otf") format('otf')
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-size: normal;
  font-weight: normal;
  src: url("./lib/fonts/NanumBarunGothic.woff2") format('woff2'),
  url("./lib/fonts/NanumBarunGothic.woff") format('woff'),
  url("./lib/fonts/NanumBarunGothic.otf") format('otf')
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-size: normal;
  font-weight: bold;
  src: url("./lib/fonts/NanumBarunGothicBold.woff2") format('woff2'),
  url("./lib/fonts/NanumBarunGothicBold.woff") format('woff'),
  url("./lib/fonts/NanumBarunGothicBold.otf") format('otf')
}